<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>input</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="preview()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="saveNote()">
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <quill-editor [(ngModel)]="inputText"></quill-editor>

</ion-content>