<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content [fullscreen]="true">

  <div class="main-flex-container">

    <div *ngFor="let eachNote of allNotes">
      <quill-view *ngIf="allNotes" [content]="eachNote.data" (click)="showLargerView(eachNote.data)"></quill-view>
    </div>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openInputPage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>